{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
    <h1 class="text-danger">Wines</h1>
    </div>
    {% if is_granted('ROLE_SUPER') %}
    <div class="d-flex justify-content-center">
    <a href="{{ path('product_new')}}" class="btn btn-success">Add a New Product</a>
    </div>
    {% endif %}
    <div class="d-flex align-items-center ml-3 mt-3">
    <div class="card-columns">
    {% for product in products %}

        <div class="card border-danger align-items-center h-100" style="width: 30rem; height: 35rem">
                <div class="card-body">
                    <div class="card-header text-center"><a
                                href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                    <ul class="list-group list-group-flush text-left">
                        <li class="list-group-item">HTVA : {{ product.priceHTVA }} €</li>
                        <li class="list-group-item">TVAC ({{ product.tva *100 }}%)
                            : {{ product.priceHTVA + (product.priceHTVA * product.tva) }} €
                        </li>
                        <li class="list-group-item">Domain : {{ product.domain }}</li>
                        <li class="list-group-item">Country : {{ product.region.country }}</li>
                        <li class="list-group-item">Region : <a
                                    href="{{ path('region_show', {'id': product.region.id}) }}">{{ product.region.name }}</a>
                        </li>
                        <li class="list-group-item">Quantity left : {{ product.quantity }}</li>
                    </ul>
                        <img class="card-img-top miniature" src="{{ asset("images/products/"~product.image) }}"
                             alt="{{ product.name }}"/>
                    </div>
                    <div class="card-footer text-center">
                    <a href="{{ path('add_to_cart', {'id' : app.user.lastCart.id, 'product' : product.id}) }}"
                       class="btn btn-primary">Buy</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">Edit</a>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER') %}
                        <a href="{{ path('product_delete', {'id': product.id}) }}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    </div>
                </div>
            </div>

    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </div>
    </div>
{% endblock %}
