{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <div>
                <img src="{{  asset("images/products/"~product.image) }}" alt="{{ product.name }}"/>
            </div>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>PriceHTVA</th>
                <td>{{ product.priceHTVA }}</td>
            </tr>
            <tr>
                <th>Tva</th>
                <td>{{ product.tva }}</td>
            </tr>
            <tr>
                <th>Domain</th>
                <td>{{ product.domain }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}">back to list</a>

    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
    {{ include('comment/new.html.twig') }}

{% endblock %}
