<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Google Fonts -->

    <!-- Vendor CSS Files -->
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href={{ path('home') }}>Wiwino</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {%  for category in categories %}
                        <a class="dropdown-item" href={{ path('category_show', {'id': category.id}) }}>{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Region
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {%  for region in regions %}
                        <a class="dropdown-item" href={{ path('region_show', {'id': region.id}) }}>{{ region.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        {% if not app.user %}
            <a href="{{ path('app_register') }}" class="btn btn-outline-success my-2 my-sm-0">Register</a>&nbsp;&nbsp;
            <a href="{{ path('app_login') }}" class="btn btn-outline-success my-2 my-sm-0">Login</a>&nbsp;&nbsp;
        {% else %}
            <a href="{{ path("user_show", {'id' : app.user.id}) }}">{{ app.user.firstName }} {{ app.user.lastName }}</a>
            {% if app.user.lastCart is defined %}
                <a href="{{ path('cart_show', {'id' : app.user.lastCart.id}) }}" class="btn btn-outline-primary my-2 my-sm-0 ml-2"><i class="icofont-cart-alt"></i></a>
            {% endif %}
            <a href="{{ path('app_logout') }}" class="btn btn-outline-danger my-2 my-sm-0 ml-2">Log out</a>
        {% endif %}
    </div>
</nav>
{% block message %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
{% endblock %}
</body>
</html>
